# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\游戏技术-demo开发任务-程理想\gameserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
